$white: #fff;
$ice-white: #F7F7F7;
$smork-white: #f3f3f3;
$light-gray: #e5e5e5;
$light-white: #ddd;


$light-bold-gray: #aaa;
$bold-gray: #999;
$gray: #ccc;

$rgba-dark-gray: rgba(255,255,255,0.4);


$black: #333;
$label-black: #323232;
$text-shadow-black: rgba(0,0,0,.6);
$shadow-black: rgba(0, 0, 0, .09);


$red: #c42d2e;

$gp-main-color: #275e9d;

$gp-main-bold-color: #0e4989;
$gp-main-dark-color: #003575;

$calendar-border: #858585;
$holiday-red: #ff4040;
$orange: #ffbb3b;
$light-orange: #e1ae1e;

$green: #4c9e3e;

$gold-color: #cba166;

$gray-background-color: #e9eaed;

$red-link-text-color: #e16667;

